{{ $recentItem := index .page.Site.Params.homepage.recentItems .index }}

{{ $count := $recentItem.count | default 5 }}
{{ $type := $recentItem.type }}

<div class="relative w-screen max-w-[1600px] px-[30px]" style="left: calc(max(-50vw,-800px) + 50%);">
  <section
    class="w-full grid gap-4 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5">
    {{ range first $count (where .page.Site.RegularPages "Type" "eq"
  $type) }}
    {{ partial "article-link/card.html" . }}
    {{ end }}
  </section>
</div>