html, body {
    margin: 0;
    height: 100%;
}

#background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#container {
    z-index: 1;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    background: #181A1B;
    color: #CDC9C2;
    font-family: 'Inconsolata', monospace;
    text-align: center;
    user-select: none;
}

#container > div {
    padding: 2vh 0 2vh 0;
}

a {
    color: #CDC9C2;
    text-decoration: none;
}

.medium-font {
    font-size: 160%;
}

.large-font {
    font-size: 600%;
}

#links {
    display: flex;
    justify-content: space-around;
}
