<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dan Volchek - {{.Name}}</title>
    <meta property="og:title" content="Dan Volchek - {{.Name}}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="https://danvolchek.com/assets/icons/favicon.png"/>
    <link rel="stylesheet" href="/assets/css/cart.css"/>
    <link rel="shortcut icon" href="/assets/icons/favicon.png"/>
</head>
<body>
<iframe src="./{{.Path}}.html"></iframe>
</body>
</html>