@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#container {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;

  user-select: none;
  min-height: 100vh;
}

#container > div > div{
  padding: 2vh 0 2vh 0;
}

body {
  background: #181A1B;
  color: #CDC9C2;
  font-family: 'Inconsolata', monospace;
  text-align: center;
  user-select: none;
  animation: fadeIn 1.5s normal forwards ease-in-out;

  min-height: 100vh;
  margin: 0;
}

a {
  color: #CDC9C2;
  text-decoration: none;
}

.medium-font {
  font-size: 160%;
}

.large-font {
  font-size: 600%;
}

#links {
  display: flex;
  justify-content: space-around;
}